.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr 1.3fr;
  grid-template-rows: 1fr 0.2fr 2fr 3.5fr;
  gap: 7px 4px;
  grid-template-areas:
    "title title title dropdown-menu"
    "sortby sortby sortby topics-sidebar"
    "article-list article-list article-list topics-sidebar"
    "article-list article-list article-list ads";
}

.title {
  border: 3px solid red;
  grid-area: title;
}

.sort-by {
  border: 3px solid orange;
  grid-area: sortby;
}

.dropdown-menu {
  border: 3px solid gold;
  grid-area: dropdown-menu;
}

.topics-sidebar {
  border: 3px solid green;
  grid-area: topics-sidebar;
}

.article-list {
  border: 3px solid pink;
  grid-area: article-list;
}

.ads {
  border: 3px solid brown;
  grid-area: ads;
}

.article-card {
  border: 3px solid black;
}
